$blue: #2196f3;
$lightGreen: #AED581;
$deepGreen: #8BC34A;
$inputWidth: 50px;
@mixin clearfix {
	zoom: 1;
	&::after{
		content: '';
		display: block;
		clear: both;
	}
}
.disabled{
	cursor: not-allowed!important;
}


#calendar{
	position: absolute;
	// position: fixed;
	float: left;
	margin: 5px 0;
	padding: 15px;
	border-radius: 4px;
	width: 240px;
	font: 12px 'Microsoft Yahei',STHei,Arial;
	color: #666;
	background: #fff;
	box-shadow: 0 0 8px rgba(#000, .15);

	& .select-box{
		overflow: hidden;
		position: relative;
		display: inline-block;
		width: $inputWidth + 54px;
		height: 20px;
		padding: 0 5px;
		margin-bottom: 10px;
		& + .select-box{
			margin-left: 2px;
		}
		& .handler-btn{
			float: left;
			width: 18px;
			height: 18px;
			margin-top: 1px;
			border-radius: 2px;
			color: #fff;
			background: #fff;
		}
		& input{
			float: left;
			margin: 0 4px;
			width: 50px;
			height: 20px;
			border-radius: 2px;
			text-align: center;
			color: #777;
		}
	}

	.icon{
		position: relative;
		background: #fff;
		border-radius: 4px;
		transition: all .3s ease;
		&.icon-arrow-left, &.icon-arrow-right{
			&::before, &::after{
				left: 4px;
				transform-origin: 2px 2px;
				content: '';
				position: absolute;
				width: 10px;
				height: 4px;
				top: 50%;
				margin-top: -2px;
				border-radius: 2px;
				background: $lightGreen;
				transition: all .3s ease;
			}
			&::before{
				transform: rotate(-45deg);
			}
			&::after{
				transform: rotate(45deg);
			}
			&:hover{
				background: $lightGreen;
				&::before, &::after{
					background: #fff;
				}
			}
		}
		&.icon-arrow-right{
			transform: rotate(180deg);
		}
	}
}

#calendar-week{
	width: 100%;
	@include clearfix;
	& li{
		position: relative;
		z-index: 0;
		float: left;
		width: 30px;
		height: 30px;
		font-size: 12px;
		text-align: center;
		line-height: 32px;
		border-radius: 4px;
		cursor: default;
		&.on{
			background: $deepGreen;
			color: #fff;
			box-shadow: 0 0 6px rgba(darken($deepGreen, 15%), .8) inset;
		}
		&.item{
			-webkit-animation-name: scale;
			-webkit-animation-duration: .4s;
			-webkit-animation-time-function: ease;
			-webkit-animation-fill-mode: both;
			transition: color .2s ease;
			&:hover{
				z-index: 9;
				box-shadow: none;
				box-shadow: 0 0 6px rgba($lightGreen, .75);
			}
			&.disabled{
				color: #ddd;
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
// @for $i from 1 through 31 {
// 	.item:nth-child(#{$i}){
// 		-webkit-animation-delay: if($i / 2);
// 	}
// }

#calendar-week-head{
	background: $lightGreen;
	font-weight: bold;
	color: #fff;
	@include clearfix;
	box-shadow: 0 0 4px rgba(#333, .25);
	margin: {
		left: -18px;
		right: -18px;
		bottom: 4px;
	}
	padding: {
		left: 18px;
		right: 18px;
	}
}
#calendar-week-table{
	@include clearfix;
}

#calendar-week + #btnBox{
	margin: 10px -5px 0;
	display: flex;
	& button{
		display: block;
		flex: 1;
		height: 24px;
		font-size: 12px;
		background: darken($lightGreen, 10%);
		color: #fff;
		margin: 0 5px;
		border-radius: 3px;
		transition: all .3s ease;
		&:hover{
			background: darken($lightGreen, 20%);
			color: #fff;
		}
		& + button{
			background: #eee;
			color: #888;
			&:hover{
				background: darken(#eee, 5%);
				color: #666;
			}
		}

	}
}

@-webkit-keyframes scale{
	0%{transform: scale(0);box-shadow: 0 0 8px rgba(#333, .2) inset;}
	65%{transform: scale(1);box-shadow: 0 0 8px rgba(#333, .2) inset;}
	85%{transform: scale(.8);box-shadow: 0 0 8px rgba(#333, .2) inset;}
	100%{transform: scale(1)};
}
